@page "/quadraticEquation"
    <div class="card mt-2">
        <div class="card-header">
            <h1>Quadratic equation solver</h1>
        </div>

        <div class="card-body">
            <p>Requirements: Implement 3 number inputs, text result and button for triggering algorithm, which will solve quadratic equation Ax^2 + Bx + C = 0</p>
        </div>
    </div>
<br />


@code {
    // NOTE: You can use these predefined parameters or delete them and do it different way. It's just a hint :)
    private string result;
    private double numberA { get; set; }
    public double numberB { get; set; }
    public double numberC { get; set; }


}
